.be-the-first {
  position: relative;
  line-height: 140%;
}
.button-wrapper,
.button1,
.frame-wrapper3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button1 {
  border-radius: 0 var(--br-13xl) 0 var(--br-13xl);
  background-color: var(--color-springgreen);
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-29xl);
}
.button-wrapper,
.frame-wrapper3 {
  flex-direction: column;
}
.frame-wrapper3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--neutral-color-white);
  width: 1440px;
  height: 204px;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-61xl);
  box-sizing: border-box;
}
.frame-parent2 {
  width: 1440px;
  position: relative;
  height: 371px;
}
.separator5 {
  align-self: stretch;
  background-color: var(--neutral-color-white);
  height: 709px;
}
.register-interest {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--neutral-color-black);
  font-family: var(--font-inter);
}
